#principal {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.articulo-principal {
  justify-content: center;
  text-align: justify;
  margin: 20px;
  width: 300px;
}

.articulo-header {
  margin: 15px;
  text-align: center;
}

.boton-ver-detalles {
  margin: auto;
}
