* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
}

#nav-inicio > *, #nav-busqueda > * {
  margin-left: 10px;
}

nav, footer {
  background-color: #f6eded;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

#nav-busqueda, #nav-inicio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

#form-busqueda {
  display: flex;
  align-content: center;
}

@media only screen and (max-width:768px) {
  nav{
    display: flex;
    justify-content: center;
  }

  #nav-busqueda {
    display: flex;
    justify-content: center;
  }

  #nav-busqueda > * {
    margin-top: 5px;
  }
}
