* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: arial;
  display: flex;
  flex-direction: column;
}

nav a {
  color: black;
  text-decoration: none;
}

#nav-inicio > *, #nav-busqueda > * {
  margin-left: 10px;
}

.contenido{
  flex: 1 0 auto;
}

nav, footer {
  background-color: #f6eded;
  flex-shrink: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

#nav-busqueda, #nav-inicio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  flex-shrink: 0;
}

.dropdown {
  list-style: none;
}

.dropdown li {
  float: left;
  position: relative;
}

.dropdown ul {
  list-style: none;
  position: absolute;
  visibility: hidden;
}

.dropdown ul li {
  float: none;
}

.dropdown ul li:hover {
  background-color: burlywood;
}

.dropdown ul a {
  white-space: nowrap;
}
.dropdown li:hover ul {
  visibility: visible;
}

#form-busqueda {
  display: flex;
  align-content: center;
}

@media only screen and (max-width:768px) {
  nav{
    display: flex;
    justify-content: center;
  }

  #nav-busqueda {
    display: flex;
    justify-content: center;
  }

  #nav-busqueda > * {
    margin-top: 5px;
  }
}
