* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
}

#nav-inicio > *, #nav-busqueda > * {
  margin-left: 10px;
}

nav, footer {
  background-color: #f6eded;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

#nav-busqueda {
  display: flex;
  flex-wrap: wrap;
}

#nav-inicio {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

.dropdown {
  list-style: none;
}

.dropdown li {
  float: left;
  position: relative;
}

.dropdown ul {
  list-style: none;
  position: absolute;
  visibility: hidden;
}

.dropdown ul li {
  float: none;
}

.dropdown ul li:hover {
  background-color: burlywood;
}

.dropdown ul a {
  white-space: nowrap; 
}
.dropdown li:hover ul {
  visibility: visible;
}