#formulario-sesion {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  padding: 5px;
}

#boton-iniciar-sesion {
  margin-top: 15px;
}
