/* Dropdown menu */

    .dropdown {
    float: left;
    position: relative;
    background-color:#C5CAE9;
    padding: 5px 5px 5px 0px;
  } 
  
  .dropdown ul {
    list-style: none;
    position: absolute;
    visibility: hidden;
    width: 125px;  
  }
  
  .dropdown ul li {
    float: none;
    width: auto;
    background-color:#C5CAE9;
  }
  
  .dropdown ul a {
    white-space: nowrap;
  }
  .dropdown:hover ul {
    visibility: visible;
    border-radius: 4px;
  }

  .dropdown-items{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }