.panel-conf{
    display: flex;
    width: 600px;
    height: auto;
    /*background-color: lightcoral;*/
    margin: 30px;
    border-radius: 4px;
    border: 2px solid #7986CB;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

.panel-conf h2{
    margin: 15px;
}

.form-conf{
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

.label-input{
    margin: 3px;
    display: flex;
    justify-content: space-between;
}


.inputf {
    margin-left: 10px;
    background-color: white;
    border: 2px solid #7986CB;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
}

.checkb {
    height: 25px;
    width: 25px;
}

.boton-guardar {
    padding: 6px;
    background-color: white;
    border: 2px solid #7986CB;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .boton-guardar:hover{
    background-color: lightblue;
  }