#principal {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.articulo-principal {
  justify-content: center;
  text-align: justify;
  margin: 20px;
  width: 350px;
  background-color: white;
  padding: 35px 20px 35px 20px;
  font-size: 16px;
  border: 2px solid #7986CB;
  border-radius: 5px;
}

.buttonVerDetalles {
  display: flex;
  justify-content: center;
}

.articulo-header {
  margin: 15px;
  text-align: center;
}

.boton-ver-detalles {
  margin: 5px;
  padding: 10px;
  border: 1px solid #eeeeee;
  background-color: white;
  border-radius: 2px;
}

.boton-ver-detalles:hover {
  background-color: lightblue;
}
