* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

html, body {
  height: 100%;
  background-color: #E8EAF6;
}

body {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido {
  display: flex;
  justify-content: center;
}

/* NAV Y FOOTER */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  border-bottom: 2px solid #7986CB;
  background-color: #C5CAE9;
}

nav a {
  color: black;
  text-decoration: none;
  border-radius: 4px;
  border: 2px;
  padding: 5px;
}

nav a:hover{
  background-color: lightblue;
  border-color: lightblue;
}


#nav-der, #nav-izq {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  border-top: 2px solid #7986CB;
  font-size: 13px;
  flex-shrink: 0;
  background-color: #C5CAE9;
}

/* LINK INICIO */

.nombre-hospital {
  color: gray;
}

#link-inicio {
  display: flex;
  align-items: center;
}

#logo {
  margin-right: 10px;
}

/* DROPMENU ADMINISTRADOR */

.dropdown {
  float: left;
  position: relative;
  background-color:#C5CAE9;
  padding: 5px 5px 5px 0px;
  margin-right:35px;
} 

.dropdown ul {
  list-style: none;
  position: absolute;
  visibility: hidden;
  width: 125px;  
}

.dropdown ul li {
  float: none;
  width: auto;
  background-color:#C5CAE9; 
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown ul a {
  white-space: nowrap;
}

.dropdown:hover ul {
  visibility: visible;
  border-radius: 4px;
}

.dropdown-items{
  display: flex;
  flex-direction: column;
  padding: 5px;
}


/* TODO EL ESTILO DEL PANEL PRINCIPAL */
.panel-principal { 
  display: flex;
  min-width: 600px;
  border-radius: 4px;
  border: 2px solid #7986CB;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 8px;
}

.panel-principal button, h1, h2 { 
  margin: 10px;
}



.formulario-principal{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea { 
  resize: none;
}

.label-input{ 
  width: 350px;
  margin: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.inputf { 
  margin-left: 10px;
  background-color: white;
  border: 2px solid #7986CB;
  border-radius: 4px;
  padding: 3px;
  font-size: 15px;
}

.checkb { 
  height: 25px;
  width: 25px;
}

.boton-panel-principal {
  background-color: #C5CAE9;
  font-size: 16px;
  border: 2px solid #7986CB;
  border-radius: 4px;
  padding: 5px;
}

.boton-panel-principal:hover{
  background-color: lightblue;
}

.tarjeta-resultado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid;
  width: 600px; /*se achica responsive*/
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #fafafa;
  color:black;
}

.tarjeta-resultado:visited, .tarjeta-usuario:active{
  color:black;
}

.tarjeta-resultado:hover{
  background-color: lightblue;
}

.tarjeta-resultado h1,h2 {
  margin: 0;
}

.tarjeta-resultado h1{
  font-size: 0.8em;
}

.tarjeta-resultado h2{
  font-size: 0.8em;
}

.tabla-resultados {
  display: flex;
  flex-direction: column;
}

.usuario-image {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

@media only screen and (max-width: 768px){
  .tarjeta-resultado {
      width: 400px;
  }
}

@media only screen and (max-width: 768px){
 .panel-principal {
     min-width: 450px;
 }
}