body {
    display: flex;
    background-color: #E8EAF6;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1 {
    font-size: 40px;
}

.herramientas {
    width: 400px;
    height: 400px;
    opacity: 0.8;
}