{% extends "layout.html.twig" %}

{% block estilos %}
  {{ parent() }}
  <link rel="stylesheet" href="templates/styles/administracion.css">
{% endblock %}


{% block nav_izq %}
  {{ parent() }}
  <a href="#">Inicio</a>
  <a href="#">Consultas</a>
  <a href="#">Pacientes</a>
{% endblock %}


{% block nav_der %}
  <div class="dropdown">
    <a href="#" >Administración</a>
    <ul>
      <a href="#"><li>Usuarios</li></a>
      <a href="#"><li>Roles</li></a>
      <a href="#"><li>Permisos</li></a>
      <a href="#"><li>Configuracion</li></a>
    </ul>
  </div>
  {{ parent() }}
{% endblock %}

