{% extends "layout.html.twig" %}

{% block estilos %}
    {{parent()}}
    <link rel="stylesheet" href="templates/styles/busqueda-usuarios.css">
{% endblock %}

{% block nav_equipodeguardia %}
{# no se implementa #}
{% endblock %}

{% block nav_sinloguear %}
{# no se implementa #}
{% endblock %}

{% block contenido %}

<div class="contenido">
    {% block busqueda %}
        <form class="formulario-busqueda" action="index.php" method="get">
            <input type="hidden" name="comando" value="busqueda-usuarios">
            <input type="text" name="nombre-de-usuario" placeholder="Nombre de usuario a buscar..">
            <select name="estado">
                <option value=""></option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
            <input type="submit" value="Filtrar">
        </form>
    {% endblock %}
    <div class="panel-principal">
        <h1 class="titulo-contenido-de-usuarios">Usuarios</h1>
        <div class="tabla-usuarios">
        {% for resultado in resultados %}
            <a href="index.php?comando=editar-usuario&id={{resultado.id}}" class="tarjeta-usuario">
                <div class="nombreyfoto-tarjeta-usuario">
                    <img class="usuario-image" src="recursos/user.svg" alt="Imagen usuario">
                    <h1>{{resultado.first_name}}</h1>
                </div>
                <div class="estado-tarjeta-usuario">
                    <h1>Estado:</h1>
                    <h2>{% if resultado.activo == 1 %}Activo{% else %}Inactivo{% endif %}</h2>
                </div>
            </a>
        {% endfor %}
        </div>
        <button class="boton-panel-principal">Crear usuario</button>
    </div>
</div>

{% endblock %}
