{% extends "layout.html.twig" %}

{% block estilos %}
    {{parent()}}
    <link rel="stylesheet" href="templates/styles/busqueda-usuarios.css">
{% endblock %}

{% block nav_equipodeguardia %}
{# no se implementa #}
{% endblock %}

{% block nav_sinloguear %}
{# no se implementa #}
{% endblock %}

{% block contenido %}

<div class="contenido">
    {% block busqueda %}
        <form action="index.php" method="get">
            <input type="hidden" name="comando" value="busqueda-pacientes">
            <h1>Buscar paciente</h1>
            <label>Historia clínica:</label><input name="nro_historia_clinica" type="text">
            <label>Apellido:</label><input name="apellido" type="text">
            <label>Nombre:</label><input name="nombre" type="text">
            <label>Tipo doc:</label><select name="tipo_doc_id">
                <option value=""></option>
                <option value="1">DNI</option>
            </select>
            <label>DNI:</label><input name="dni" type="number">
            <input type="submit" value="buscar">
        </form>
    {% endblock %}
    <div class="panel-principal">
        <h1 class="titulo-contenido-de-usuarios">Pacientes</h1>
        <div class="tabla-usuarios">
        {% for resultado in resultados %}
            <a href="index.php?comando=info-paciente&id={{resultado.id}}" class="tarjeta-usuario">
                {{resultado.nombre}}
            </a>
        {% endfor %}
        </div>
        <button class="boton-panel-principal" onclick="location.href='index.php?comando=creacion-paciente'" >Crear paciente</button>
    </div>
</div>

{% endblock %}
