{% extends 'layout.html.twig' %}

{% block estilos %}
{{parent()}}
<link rel="stylesheet" href="templates/styles/creacion-pacientes.css">
{% endblock %}

{% block links %}
<script src="../vendor/components/jquery/jquery.min.js"></script>
{% endblock %}

{% block contenido %}

<div class="contenido">
    <div class="panel-principal">
        <form id="formulario" class="formulario-principal" action="index.php?comando=insertar-paciente" method="post">
            <h1>Creando paciente</h1>
            <div class="label-input">
                <label>Nombre de Paciente:</label>
                <input class="inputf" type="text" name="nombre">
            </div>
            <div class="label-input">
                <label>Apellido de Paciente:</label>
                <input class="inputf" type="text" name="apellido">
            </div>
            <div class="label-input">
                <label>Fecha de nac.:</label>
                <input class="inputf" type="date" name="fecha_nac">
            </div>
            <div class="label-input">
                <label>Lugar de nac.:</label>
                <input class="inputf" type="text" name="lugar_nac">
            </div>
            <div class="label-input">
                <label>Partido:</label>
                <select name="partido" id="partidos" required>
                    <option value=""></option>
                </select>
            </div>
            <div class="label-input">
                <label>Region sanitaria:</label>
                <input id="region_sanitaria_id" class="inputf" type="text" readonly="readonly" name="region_sanitaria_id">
            </div>
            <div class="label-input">
                <label>Localidad:</label>
                <select id="localidades" name="localidad_id">
                    <option value=""></option>
                </select>
            </div>
            <div class="label-input">
                <label>Domicilio:</label>
                <input class="inputf" type="text" name="domicilio">
            </div>
            <div class="label-input">
                <label>Género:</label>
                <select name="genero_id">
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                </select>
            </div>
            <div class="label-input">
                <label>Posee documento:</label>
                <input class="inputf checkb" name="tiene_documento" type="checkbox">
            </div>
            <div class="label-input">
                <label>Tipo de documento:</label>
                <select name="tipo_doc_id">
                    <option value="1">DNI</option>
                </select>
            </div>
            <div class="label-input">
                <label>Nro de documento:</label>
                <input class="inputf" name="numero" type="text">
            </div>
            <div class="label-input">
                <label>Nro de historia clínica:</label>
                <input class="inputf" name="nro_historia_clinica" type="number">
            </div>
            <div class="label-input">
                <label>Nro de carpeta:</label>
                <input class="inputf" name="nro_carpeta" type="number">
            </div>
            <div class="label-input">
                <label>Telefono:</label>
                <input class="inputf" name="tel" type="text">
            </div>
            <div class="label-input">
                <label>Obra social:</label>
                <select name="obra_social_id">
                    <option value="1">OSDE</option>
                </select>
            </div>
        </form>
        <button type="submit" form="formulario" class="boton-panel-principal">Crear paciente</button>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    obtenerPartidos();

    //Event handler para cuando se ingresa un partido o se pone el campo en blanco
    $("#partidos").on("input",function () {
        if ($("#partidos").val()) {
            actualizarRegionSanitaria();
            actualizarLocalidades();
        } else {
            $("#region_sanitaria_id").val('');
            $('#localidades').empty();
        }
    });
});

function obtenerPartidos() {
    $.get("index.php?comando=obtener-partidos",
    function (partidos) {
        $.each($.parseJSON(partidos),function (index, partido) {$('<option>').val(partido['id']).text(partido['nombre']).appendTo('#partidos');})
    })
}

function actualizarRegionSanitaria() {
    $.get("index.php?comando=obtener-region-sanitaria&partido="+($("#partidos").val()),
    function (region) {
        $("#region_sanitaria_id").val($.parseJSON(region)[0])
    })
}

function actualizarLocalidades() {
    $.get("index.php?comando=obtener-localidades&partido="+($("#partidos").val()),
    function (localidades) {
        $('#localidades').empty();
        $.each($.parseJSON(localidades),function (index, localidad) {$('<option>').val(localidad['id']).text(localidad['nombre']).appendTo('#localidades');})
    })
}

</script>

{% endblock %}
