{% extends 'layout.html.twig' %}

{% block links %}
<script src="../vendor/components/jquery/jquery.min.js"></script>
<script src="scripts/creacion-usuario.js"></script>
{% endblock %}

{% block contenido %}

<div class="contenido">
    <div class="panel-principal">
        <form class="formulario-principal" action="index.php?comando=insertar-usuario" method="post" id="formulario" onsubmit="return (chequearRoles() & validarForm())">
            <h1>Creando usuario</h1>
            <div class="label-input">
                <label>Nombre de usuario:</label>
                <input class="inputf" type="text" name="username" required>
            </div>
            <div class="label-input">
                <label>Nombre:</label>
                <input class="inputf" type="text" name="nombre" required>
            </div>
            <div class="label-input">
                <label>Apellido:</label>
                <input class="inputf" type="text" name="apellido" required>
            </div>
            <div class="label-input">
                <label>Email:</label>
                <input id="input_mail" class="inputf" type="text" name="email" required>
            </div>
            <div class="label-input">
                <label>Password:</label>
                <input class="inputf" type="password" name="password" required>
            </div>
            <div class="label-input">
                <label>Usuario bloqueado:</label>
                <input class="inputf checkb" type="checkbox" name="bloqueado">
            </div>
            <h2>Seleccione uno o más roles</h2>
            {% for rol in roles %}
            <div class="label-input" id="lista-roles">
                <label>{{rol.nombre}}</label>
                <input class="inputf checkb" type="checkbox" value="{{rol.id}}" name="roles[]">
            </div>
            {% endfor %}
        </form>
        <button type="submit" form="formulario" class="boton-panel-principal">Crear usuario</button>

    </div>

</div>

{% endblock %}
