{% extends 'layout.html.twig' %}

{% block contenido %}

    <div class="contenido">
        <div class="panel-principal">
            <form class="formulario-principal" action="index.php?comando=insertar-usuario" method="post" id="formulario">
                <h1>Creando usuario</h1>
                <div class="label-input">
                    <label>Nombre de usuario:</label>
                    <input class="inputf" type="text" name="username">
                </div>
                <div class="label-input">
                    <label>Nombre:</label>
                    <input class="inputf" type="text" name="nombre">
                </div>
                <div class="label-input">
                    <label>Apellido:</label>
                    <input class="inputf" type="text" name="apellido">
                </div>
                <div class="label-input">
                    <label>Email:</label>
                    <input class="inputf" type="text" name="email">
                </div>
                <div class="label-input">
                    <label>Password:</label>
                    <input class="inputf" type="password" name="password">
                </div>
                <div class="label-input">
                    <label>Repita la password:</label>
                    <input class="inputf" type="password">
                </div>
                <div class="label-input">
                    <label>Usuario bloqueado:</label>
                    <input class="inputf checkb" type="checkbox" name="bloqueado">
                </div>
                <h2>Seleccione uno o más roles</h2>
                {% for rol in roles %}
                    <div class="label-input">
                        <label>{{rol.nombre}}</label>
                        <input class="inputf checkb" type="checkbox">
                    </div>
                {% endfor %}
            </form>
            <button type="submit" form="formulario" class="boton-panel-principal">Crear usuario</button>

        </div>

    </div>
{% endblock %}
