{% extends 'layout.html.twig' %}

{% block links %}
<script src="../vendor/components/jquery/jquery.min.js"></script>
{% endblock %}

{% block contenido %}

<div class="contenido">
    <div class="panel-principal">
        <form class="formulario-principal" action="index.php?comando=insertar-usuario" method="post" id="formulario" onsubmit="return chequearRoles()">
            <h1>Creando usuario</h1>
            <div class="label-input">
                <label>Nombre de usuario:</label>
                <input class="inputf" type="text" name="username">
            </div>
            <div class="label-input">
                <label>Nombre:</label>
                <input class="inputf" type="text" name="nombre">
            </div>
            <div class="label-input">
                <label>Apellido:</label>
                <input class="inputf" type="text" name="apellido">
            </div>
            <div class="label-input">
                <label>Email:</label>
                <input class="inputf" type="text" name="email">
            </div>
            <div class="label-input">
                <label>Password:</label>
                <input class="inputf" type="password" name="password">
            </div>
            <div class="label-input">
                <label>Repita la password:</label>
                <input class="inputf" type="password">
            </div>
            <div class="label-input">
                <label>Usuario bloqueado:</label>
                <input class="inputf checkb" type="checkbox" name="bloqueado">
            </div>
            <h2>Seleccione uno o más roles</h2>
            {% for rol in roles %}
            <div class="label-input" id="lista-roles">
                <label>{{rol.nombre}}</label>
                <input class="inputf checkb" type="checkbox" value="{{rol.id}}" name="roles[]">
            </div>
            {% endfor %}
        </form>
        <button type="submit" form="formulario" class="boton-panel-principal">Crear usuario</button>

    </div>

</div>

<script type="text/javascript">
function chequearRoles() {
    if ($("[name='roles[]']:checked").length <= 0) {
        alert("Debe seleccionar al menos un rol")
        return false;
    }
}
</script>

{% endblock %}
