{% extends "layout.html.twig" %}
{% block estilos %}
    {{parent()}}
    <link rel="stylesheet" href="templates/styles/busqueda-usuarios.css">
    <link rel="stylesheet" href="templates/styles/busqueda-pacientes.css">
{% endblock %}
{% block contenido %}

    <div class="contenido">
        <div class="panel-principal">

            <form class="formulario-principal" action="index.php?comando=creando-rol" method="post" id="formulario">
                <h1>Creando Rol</h1>
                <div class="label-input">
                    <label>Nombre del rol:</label>
                    <input class="inputf" type="text" name="rolname" required>
                </div>
            <br>
            <h4>Seleccione los permisos para el nuevo rol:</h4>

            {% for permiso in permisos %}
                <div>
                {{permiso.nombre}} <input class="inputf" type="checkbox" name="permiso-{{permiso.id}}">
                </div>
            {% endfor %}
            </form>

            <button type="submit" form="formulario" class="boton-panel-principal">Crear rol</button>
        </div>
    </div>

{% endblock %}