{% extends 'layout.html.twig' %}

{% block contenido %}
<div class="cartel-error contenido">
    <div> 
        <h1>{{error_titulo}}</h1>
        <h3>{{error_descripcion}}</h3>
    </div>
</div>
{% endblock %}
