{% extends "layout.html.twig" %}

{% block estilos %}
  {{ parent() }}
    <link rel="stylesheet" href="templates/styles/home.css">
{% endblock %}

{% block contenido %}
  <section id="principal">
    <article class="articulo-principal">
      <header class="articulo-header">
        <h3>Titulo</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce sodales, risus non bibendum semper, metus purus varius enim,
        scelerisque lacinia dolor elit a lectus. Morbi cursus, leo vitae facilisis condimentum,
        elit sapien commodo tellus, a malesuada nunc diam et diam. Nullam blandit volutpat eleifend.
        Suspendisse risus sem, hendrerit sed suscipit consequat, blandit quis tortor. Aliquam erat volutpat.
        Vestibulum rhoncus tellus sed diam tempus, ac volutpat sem tristique. Donec vestibulum dignissim odio.
        Donec hendrerit est nec augue convallis semper. Suspendisse porttitor massa quam, quis consectetur justo blandit quis.
      </p>
      <div class="buttonVerDetalles">
        <button type="button" class="boton-ver-detalles"> Ver detalles >></button>
      </div>
    </article>
    <article class="articulo-principal">
      <header class="articulo-header">
        <h3>Segundo Texto</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce sodales, risus non bibendum semper, metus purus varius enim, scelerisque lacinia dolor elit a lectus.
        Morbi cursus, leo vitae facilisis condimentum, elit sapien commodo tellus, a malesuada nunc diam et diam.
        Nullam blandit volutpat eleifend. Suspendisse risus sem, hendrerit sed suscipit consequat, blandit quis tortor.
        Aliquam erat volutpat. Vestibulum rhoncus tellus sed diam tempus, ac volutpat sem tristique. Donec vestibulum dignissim odio.
        Donec hendrerit est nec augue convallis semper. Suspendisse porttitor massa quam, quis consectetur justo blandit quis.
      </p>
      <div class="buttonVerDetalles">
        <button type="button" class="boton-ver-detalles"> Ver detalles >></button>

      </div>
    </article>
    <article class="articulo-principal">
      <header class="articulo-header">
        <h3>Tercer Texto</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales, risus non bibendum semper, metus purus varius enim,
        scelerisque lacinia dolor elit a lectus. Morbi cursus, leo vitae facilisis condimentum, elit sapien commodo tellus,
        a malesuada nunc diam et diam. Nullam blandit volutpat eleifend. Suspendisse risus sem, hendrerit sed suscipit consequat, blandit quis tortor. Aliquam erat volutpat. Vestibulum rhoncus tellus sed diam tempus, ac volutpat sem tristique. Donec vestibulum dignissim odio. Donec hendrerit est nec augue convallis semper. Suspendisse porttitor massa quam, quis consectetur justo blandit quis.
      </p>
      <div class="buttonVerDetalles">
        <button type="button" class="boton-ver-detalles"> Ver detalles >></button>

      </div>
    </article>
  </section>
{% endblock %}
