{% extends "home-logueado.html.twig" %}

{% block estilos %}
  {{ parent() }}
  <link rel="stylesheet" href="templates/styles/administracion.css">
{% endblock %}


{% block nav_der %}
  <div class="dropdown">
    <a href="#">Administración</a>
    <ul class="dropdown-items">
      <li><a href="index.php?comando=busqueda-usuarios">Usuarios</a></li>
      <li><a href="index.php?comando=configuracion">Configuracion</a></li>
    </ul>
  </div>
{% endblock %}
