
{% extends "layout.html.twig" %}

{% block estilos %}
  {{ parent() }}
  <link rel="stylesheet" href="templates/styles/layout.css">
  <link rel="stylesheet" href="templates/styles/login.css">
{% endblock %}

{% block nav_administrador %}
{# sin implementar #}
{% endblock %}

{% block nav_equipodeguardia %}
{# sin implementar #}
{% endblock %}

{% block nav_sinloguear %}
{# sin implementar para que no tome el boton 'iniciar sesión' #}
{% endblock %}

{% block contenido %}
  <section id ="formulario-sesion" class="contenido">
    <form id="form-login" action="index.php?comando=iniciar-sesion" method="post">
      <div class="form-element">
        <p>
          Usuario
        </p>
        <input type="text" placeholder="Usuario" id="inputUsuario" title="inputUsuario" class="inputLogin" name="usuario" required>
      </div>
      <div class="form-element">
        <p>
          Contraseña
        </p>
      <input type="password" placeholder="Contraseña" id="inputContrasena" title="inputContrasena" class="inputLogin" name="contrasena" required>
      </div>
      <div class="form-element form-element-button">
        <button id="boton-iniciar-sesion" type="submit">Iniciar</button>
      </div>
    </form>
  </section>
{% endblock %}
