<html>
  <head>
      <link rel="stylesheet" href="templates/styles/pag-mapa.css">
      <script src="https://www.openlayers.org/api/OpenLayers.js"></script>
      
  </head>
  <body>
    <div class="map-container">
        <h1>Últimas derivaciones del paciente</h1>
        <div id="mapdiv" style="width: 400; height: 400"></div>
        <a href="index.php?comando=info-paciente&id={{idPaciente}}">Volver</a>
    </div>
  </body>

  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    fetch("index.php?comando=obtener-ubicaciones&id={{idPaciente}}")
        .then(function(reponse){
          reponse.json().then(function(instituciones){
            iterarInstituciones(instituciones);
          })
        });


  function iterarInstituciones(instituciones){
    instituciones.forEach(
      function(valor, indice, array){
        var lonLat = new OpenLayers.LonLat(valor["longitud"], valor["latitud"])
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
    
      markers.addMarker(new OpenLayers.Marker(lonLat));
      map.setCenter (lonLat, 12);
      }
    );
  }

</script>
</body></html>